.welcome{
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px ;
    color: white;
    height: 70vh;
    background-repeat: no-repeat;

}
#mouse-click{
    padding-top: 215px;
    margin: 10px;
    /* padding-bottom: 20px; */
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-55px);
    }
    60% {
      transform: translateY(-45px);
    }
  }
.about{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

}
.services{
    text-align: center;
    padding-top: 65px;
    margin-bottom: 80px;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
}
.toogled{
    text-align: center;
}
/* 
.click-it{
    text-align: center;
} */
.design-details,.develop-details,.product-details{
    display: none;
} 
.move-me{ 
   display: none; 
}
.hover-it {
  opacity:0;
  background-color: rgba(255, 255, 255, 0.623);
  position: absolute;
  top:25%;
  bottom:25%;
  left:25%;
  right:25%; 
}
.contactme{
    background-position: center center;
    text-align: center;
    padding-top: 65px;
    margin-bottom: 80px;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;

}
input[type=text],input[type=email],#comment{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Copse', serif;
}
input[type=text],input[type=name],#comment{
    background: transparent;
    color: white;
}
textarea[type=text],textarea[type=textarea],#comment{
    background: transparent;
    color: white;
    font-size: 20px;
    /* font-family: 'Copse', serif; */
}
footer{
  text-align: center;
} 
  @media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: white;
    }
}

.submit{
  border-radius: 10px;
  position:center;
  padding-left: 25%;
  background: transparent;
}
@media screen and (min-width: 768px) {
  body {
    background-color: white;
  }
  .column {
    width: 220px;
    float: left;
    padding: 15px;
  }
}


 
